<template>
  <div id="app" class="flex flex-col justify-center align-center py-4">
    <div class="flex justify-center">
      <img class="w-1/8 h-1/8" alt="Vue logo" src="./assets/logo.png">
    </div>
    <div>
      <router-view></router-view>
    </div>
  </div>
</template>

<script>

export default {
  name: 'app',
}

</script>

<style>
#app {
  font-family: 'Avenir', Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-align: center;
  color: #2c3e50;
  margin-top: 60px;
}

</style>
